{% extends 'base-backend.html.twig' %}

{% block title %}AdminSenso index{% endblock %}

{% block body %}
    <h1>AdminSenso index</h1>
        
    <a href="{{ path('app_admin_senso_new') }}" class="btn btn-dark">Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Explication</th>
                <th>Idee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_senso in admin_sensos %}
            <tr>
                <td>{{ admin_senso.id }}</td>
                <td>{{ admin_senso.titre }}</td>
                <td>{{ admin_senso.explication }}</td>
                <td>{{ admin_senso.idee }}</td>
                <td>
                    <a href="{{ path('app_admin_senso_show', {'id': admin_senso.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_senso_edit', {'id': admin_senso.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
